@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <style>
        .pagination {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
            align-items: center;
        }

    </style>

</head>

<body>
   
    <!-- Section-->
    <img src="" alt="">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <!--Product 1-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/image/asus_gtx_1650.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Card GTX 1650</h5>
                                <!-- Product price-->
                                <span class="text-decoration-line-through">1000 $</span>
                                <span>200 $</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-action="DetailProduct">View options</a></div>
                        </div>
                    </div>
                </div>
                <!--Product 1-->
                <!--Product 2-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/image/asus_rog_strix_Z390.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Main Asus ROG STRIX Z390</h5>
                                <!-- Product price-->
                                <span class="text-decoration-line-through">1000 $</span>
                                <span>200 $</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View options</a></div>
                        </div>
                    </div>
                </div>
                <!--Product 2-->
                <!--Product 3-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/image/asus_rtx_2080Ti.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Card RTX 2080TI</h5>
                                <!-- Product price-->
                                <span class="text-decoration-line-through">1000 $</span>
                                <span>200 $</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View options</a></div>
                        </div>
                    </div>
                </div>
                <!--Product 3-->
                <!--Product 4-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/image/asus_tuf_gt501.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Case Asus TUF GT501</h5>
                                <!-- Product price-->
                                <span class="text-decoration-line-through">1000 $</span>
                                <span>200 $</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View options</a></div>
                        </div>
                    </div>
                </div>
                <!--Product 4-->
                <!--Product 5-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/image/gigabyte_aorus_2x8gb_ddr4_3200.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Ram Gigabyte Aorus 2x8GB DDR4 Bus 3200</h5>
                                <!-- Product price-->
                                <span class="text-decoration-line-through">1000 $</span>
                                <span>200 $</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View options</a></div>
                        </div>
                    </div>
                </div>
                <!--Product 5-->
                <!--Product 6-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/image/gigabyte_aorus_850w.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Power Supply Gigabyte Aorus 850W</h5>
                                <!-- Product price-->
                                <span class="text-decoration-line-through">1000 $</span>
                                <span>200 $</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View options</a></div>
                        </div>
                    </div>
                </div>
                <!--Product 6-->
                <!--Product 7-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/image/intel_i5_9400F.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Chip Intel I5 9400F</h5>
                                <!-- Product price-->
                                <span class="text-decoration-line-through">1000 $</span>
                                <span>200 $</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View options</a></div>
                        </div>
                    </div>
                </div>
                <!--Product 7-->
                <!--Product 8-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/image/samsung_860_pro_2tb.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">SSD SamSung 860 PRO 2TB</h5>
                                <!-- Product price-->
                                <span class="text-decoration-line-through">1000 $</span>
                                <span>200 $</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View options</a></div>
                        </div>
                    </div>
                </div>
                <!--Product 8-->

            </div>
        </div>
    </section>
</body>

</html>
