@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_AdminLayout"; // Chỉ định layout mới cho trang Index
	ViewData["Title"] = "Admin Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Shop Item - Start Bootstrap Template</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css/styles.css" rel="stylesheet" />

</head>

<body>
	
	<!-- Product section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="row gx-4 gx-lg-5 align-items-center">
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							<div class="col-sm-6">
								<h2>Quản lý <b>Sản Phẩm</b></h2>
							</div>
							<div class="col-sm-6">
								<a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"><i class="bi bi-pencil"></i><span>Thêm sản phẩm</span></a>

							</div>
						</div>
					</div>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>
									<span class="custom-checkbox">
										<input type="checkbox" id="selectAll">
										<label for="selectAll"></label>
									</span>
								</th>
								<th>MaSP</th>
								<th>TenSP</th>
								<th>Gia</th>
								<th>Mota</th>
								<th>Hinh</th>
								<th>Madm</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<span class="custom-checkbox">
										<input type="checkbox" id="checkbox1" name="options[]" value="1">
										<label for="checkbox1"></label>
									</span>
								</td>
								<td>MP001</td>
								<td>LUPIA NEO 0</td>
								<td>1000</td>
								<td>
									Nubia trình lạng một chiếc điện thoại siêu mỏng chỉ 5,9mm và nhẹ mang tên ZTE Nubia Air 5G. Sản phẩm ra mắt phiên bản quốc tế tại nhiều quốc gia trên thế giới hướng tới người dùng phổ thông cần chiếc điện thoại thời trang, mỏng nhẹ.

									Thiết kế của ZTE Nubia Air 5G khá giống với iPhone 17 Air sắp ra mắt của nhà Táo khuyết nhưng nó có tới 3 camera cung cấp khả năng chụp ảnh sắc nét. Sản phẩm này có hiệu năng khá mạnh với chip Unisoc T8300 hỗ trợ 5G đáp ứng tốt nhu cầu sử dụng hàng ngày của người dùng.

									Dù chỉ mỏng 5,9mm nhưng bên trong vẫn nhét được viên pin 5000mAh rất ấn tượng, giúp mang đến thời gian sử dụng lâu dài cho bạn. Hãy cùng MobileCity tìm hiểu chi tiết về chiếc điện thoại thú vị này nhé!
								</td>
								<td>INO.PNG</td>
								<td>LOAI01</td>
								<td>
									<a data-bs-target="#editEmployeeModal" class="edit" data-bs-toggle="modal"><i class="bi bi-pencil"></i></a>
									<a data-bs-target="#deleteEmployeeModal" class="delete" data-bs-toggle="modal"><i class="bi bi-trash"></i></a>
								</td>
							</tr>

							<div id="editEmployeeModal" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<form action="sanphamProcess.php" method="POST">
											<div class="modal-header">
												<h4 class="modal-title">Sửa sản phẩm</h4>
												<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
											</div>
											<div class="modal-body">
												<input type="hidden" name="type" value="update">
												<div class="form-group">
													<label>MaSP</label>
													<input type="text" class="form-control" required name="masp" value="">
												</div>
												<div class="form-group">
													<label>TenSP</label>
													<input type="text" class="form-control" required name="tensp" value="">
												</div>
												<div class="form-group">
													<label>Gia</label>
													<input type="text" class="form-control" required name="gia" value="">
												</div>
												<div class="form-group">
													<label>Mota</label>
													<textarea class="form-control" required name="mota" style="height: 300px;">
														Nubia trình lạng một chiếc điện thoại siêu mỏng chỉ 5,9mm và nhẹ mang tên ZTE Nubia Air 5G. Sản phẩm ra mắt phiên bản quốc tế tại nhiều quốc gia trên thế giới hướng tới người dùng phổ thông cần chiếc điện thoại thời trang, mỏng nhẹ.

Thiết kế của ZTE Nubia Air 5G khá giống với iPhone 17 Air sắp ra mắt của nhà Táo khuyết nhưng nó có tới 3 camera cung cấp khả năng chụp ảnh sắc nét. Sản phẩm này có hiệu năng khá mạnh với chip Unisoc T8300 hỗ trợ 5G đáp ứng tốt nhu cầu sử dụng hàng ngày của người dùng.

Dù chỉ mỏng 5,9mm nhưng bên trong vẫn nhét được viên pin 5000mAh rất ấn tượng, giúp mang đến thời gian sử dụng lâu dài cho bạn. Hãy cùng MobileCity tìm hiểu chi tiết về chiếc điện thoại thú vị này nhé!
													</textarea>
												</div>
												<div class="form-group">
													<label>Hinh</label>
													<input type="text" class="form-control" required name="hinh" value="">
												</div>
												<div class="form-group">
													<label>Madm</label>
													<input type="text" class="form-control" required name="madm" value="'">
												</div>
											</div>
											<div class="modal-footer">
												<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
												<input type="submit" class="btn btn-info" value="Update">
											</div>
										</form>
									</div>
								</div>
							</div>

							<div id="deleteEmployeeModal" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<form action="sanphamProcess.php">
											<div class="modal-header">
												<h4 class="modal-title">Delete Employee</h4>
												<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
											</div>
											<div class="modal-body">
												<input type="hidden" name="type" value="delete">
												<div class="form-group">
													<div class="form-group">
														<input type="hidden" name="masp" value="">
													</div>
													<div class="modal-body">
														<p>Are you sure you want to delete these Records?</p>

													</div>
													<div class="modal-footer">
														<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
														<input type="submit" class="btn btn-danger" value="Delete">
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</tbody>
					</table>
				</div>
			</div>

			<!-- Add Modal HTML -->
			<div id="addEmployeeModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<form action="sanphamProcess.php" method="POST">
							<div class="modal-header">
								<h4 class="modal-title">Thêm sản phẩm</h4>
								<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="modal-body">
								<input type="hidden" name="type" value="add">
								<div class="form-group">
									<label>MaSP</label>
									<input type="text" class="form-control" required name="masp">
								</div>
								<div class="form-group">
									<label>TenSP</label>
									<input type="text" class="form-control" required name="tensp">
								</div>
								<div class="form-group">
									<label>Gia</label>
									<input type="text" class="form-control" required name="gia">
								</div>
								<div class="form-group">
									<label>Mota</label>
									<textarea class="form-control" required name="mota"></textarea>
								</div>
								<div class="form-group">
									<label>Hinh</label>
									<input type="text" class="form-control" required name="hinh">
								</div>
								<div class="form-group">
									<label>Madm</label>
									<input type="text" class="form-control" required name="madm">
								</div>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
								<input type="submit" class="btn btn-success" value="Add">
							</div>
						</form>
					</div>
				</div>
			</div>
	</section>
</body>
</html>
