<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyLinhKien</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuanLyLinhKien.styles.css" asp-append-version="true" />

    <link rel="shortcut icon" href="img/Mlogo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

</head>
<body>
 
    <div class="back-to-top"><i class="fa fa-chevron-up"></i></div>
    <header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +0938-988-000</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> MindLess@gmail.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> 69 Lê Lợi</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> Kiểm tra đơn hàng</a></li>
                    <li><a href='#'><i class='fa fa-user-o'></i>Đăng nhập/Đăng ký</a></li>
                </ul>
            </div>
        </div>
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <br/>
                                    <h2 style="color:white">
                                        @* <img style="width:50px ; height:50px" src="./img/Mlogo.png" alt="logo" title="Hồng Thuận Phát"> *@
                                        <span style="color:red">Mind</span>Less
                                    </h2>
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form action='store.php' method='get'>
                                <select class="input-select" name='cat-id'>
                                    <option value='all'>Tất cả</option>
                                    <option value='1'>value 1</option>
                                    <option value='2'>value 2</option>
                                    <option value='3'>value 3</option>
                                </select>
                                <input class="input" name='key' placeholder="Tìm kiếm ở đây . . . . ">
                                <input type='hidden' name='mode' value='product'>
                                <input type='hidden' name='ac' value='search'>
                                <button class="search-btn" name='basic-search' value='Search'>Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->

                            <div onClick='ShowWishList()' id='btn-wishlist'>
                                <a>
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>DS yêu thích</span>
                                    <div class="qty cart"></div>
                                </a>

                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            @* <div class='product-widget'>
                                <div class='product-img'>
                                    <img src='./image/' alt=''>
                                </div>
                                <div class='product-body'>
                                    <h3 class='product-name'><a href='#'></a></h3>
                                    <h4 class='product-price'><span class='qty'>x</span><sup>đ</sup></h4>
                                </div>
                                <button class='delete'><i class='fa fa-close'></i></button>
                            </div> *@
                            <div class="dropdown" id='shopping-cart'>
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                    <div class="qty cart"></div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        SAN PHAM

                                    </div>
                                    <div class="cart-summary">
                                        <small>2 sản phẩm đã chọn</small>
                                        <h5>tổng tiền: 100000 ?> đ</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="#">Xem giỏ hàng</a>
                                        <a href="#">Thanh toán <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>

                    </div>
                    <!-- /ACCOUNT -->
                </div>

                <!-- row -->
            </div>
            <!-- container -->


        </div>
        <div id="wishlist" class="scrollmenu">
            <div class="product-wishlist">
                <div class="product-wishlist-img">
                    <img src="../wwwroot/image/AcBel_450W.jpg" alt="">
                </div>
                <div class="product-wishlist-name">Card mạng</div>
            </div>
        </div>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    
    <footer id="footer">
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li style="color:red;"><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Phat</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>

</body>
</html>
