@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LinhKienDienTu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LinhKienDienTu.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">
                <img src="~/img\Mlogo.png" style="width: 50px;height:50px;">
                <b><span style="color:red;">M</span>indLess</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                    @*<li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="Index">Sản Phẩm</a></li>*@
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sản Phẩm</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="">Quản Lý Sản Phẩm</a></li>
                            <li><a class="dropdown-item" href="">Danh Mục Sản Phẩm</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="">Hóa Đơn</a></li>
                            <li><a class="dropdown-item" href="">Chi Tiết Hóa Đơn</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Kho</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="">Quản Lý Kho</a></li>
                            <li><a class="dropdown-item" href="">Sản Phẩm Trong Kho</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" asp-controller="Admin" asp-action="Index" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tài Khoản</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="">Quản Lý Tài Khoản</a></li>
                            <li><a class="dropdown-item" href="">Quản Trị Khách Hàng</a></li>
                            <li><a class="dropdown-item" href="">Quản Trị Nhân Viên</a></li>
                        </ul>
                    </li>

                    <li>
                        @* Search *@
                        <form action="index.php" class="mx-3 mt-1">
                            <label for="timkiem">Search</label>
                            <input type="text" name="timkiem">
                            <button type="submit" class="btn btn-warning" style="height:33px;">Tìm</button>
                        </form>
                    </li>
                </ul>
                @* CART *@
                <form class="d-flex" asp-action="ViewCart">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Giỏ hàng</span>
                    </button>

                </form>
                @* DANGNHAP *@
                <form class="d-flex" asp-action="Login">
                    <button class="btn btn-outline-dark mx-2">
                        <span>Đăng Nhập</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"><span style="color:red;">M</span>indLess</h1>
                <p class="lead fw-normal text-white-50 mb-0">
                    Premium Accessory – Best Prices, Top Quality!
                </p>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; <span style="color:red;">M</span>indLess (CMP)</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="js/scripts.js"></script>
</body>
</html>

