@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div id="shopping-cart">
                    <h2>Shopping Cart</h2>
                    <div class="float-end">
                        <a class="btn btn-outline-dark btn-warning mt-auto">Empty Cart</a>
                    </div>
                    <table class="table" cellpadding="10" cellspacing="1">
                        <tbody>

                            <tr>
                                <th style="text-align:left;">Name</th>
                                <th style="text-align:left;">Code</th>
                                <th style="text-align:right;" width="5%">Quantity</th>
                                <th style="text-align:right;" width="10%">Price<br>( in $)</th>
                                <th style="text-align:right;" width="10%">Total<br>( in $)</th>
                                <th style="text-align:center;" width="5%">Option</th>
                            </tr>
                            
                            <tr>
                                <th style="text-align:left;">RTX</th>
                                <th style="text-align:left;">MP1011'</th>
                                <th style="text-align:right;" width="5%">1000</th>
                                <th style="text-align:right;" width="10%">2000 $</th>
                                <th style="text-align:right;" width="10%">2500$</th>
                                <th style="text-align:center;" width="5%"><a class="btn btn-danger btn-outline-dark" style="color:white">Remove</a></th>
                            </tr>
                            
                            <tr>
                                <td colspan="2" align="right">Total:</td>
                                <td align="right">1</td>
                                <td align="right" colspan="2"><strong>1000$</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

