@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

    <link rel="shortcut icon" href="img/Mlogo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>
    <!-- Navigation-->
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div id="shopping-cart">
                    <h2>Shopping Cart</h2>
                    <div class="float-end">
                        <a class="btn btn-outline-dark btn-warning mt-auto" href="cartProcess.php?masp=-1&type=clear">Empty Cart</a>
                    </div>
                    <table class="table" cellpadding="10" cellspacing="1">
                        <tbody>

                            <tr>
                                <th style="text-align:left;">Name</th>
                                <th style="text-align:left;">Code</th>
                                <th style="text-align:right;" width="5%">Quantity</th>
                                <th style="text-align:right;" width="10%">Price<br>( in $)</th>
                                <th style="text-align:right;" width="10%">Total<br>( in $)</th>
                                <th style="text-align:center;" width="5%">Remove</th>
                            </tr>
                            <?php
                            if(isset($_SESSION['cart'])){
                            foreach($cart as $id => $sl){
                            foreach($allsanpham as $sanpham){
                            if($id == $sanpham['masp']){
                            echo'
                            <tr>
                                <th style="text-align:left;">'.$sanpham['tensp'].'</th>
                                <th style="text-align:left;">'.$sanpham['masp'].'</th>
                                <th style="text-align:right;" width="5%">'.$sl.'</th>
                                <th style="text-align:right;" width="10%">'.$sanpham['gia'].'$</th>
                                <th style="text-align:right;" width="10%">'.$sanpham['gia']*$sl.'$</th>
                                <th style="text-align:center;" width="5%"><a class="btn btn-danger btn-outline-dark" href="cartProcess.php?masp='.$sanpham['masp'].'&type=remove">Remove</a></th>
                            </tr>';
                            $quantity += $sl;
                            $total += $sanpham['gia']*$sl;
                            }
                            }
                            }
                            }
                            ?>
                            <tr>
                                <td colspan="2" align="right">Total:</td>
                                <td align="right"><?=$quantity?></td>
                                <td align="right" colspan="2"><strong><?=$total?>$</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; <span style="color:red;">M</span>indLess (CMP)</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <?php include_once 'subpage/footer.html'; ?>
    <!-- /FOOTER -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        function flyToElement(flyer, flyingTo) {
            var $func = $(this);

            // Nhân bản đối tượng(hình ảnh) sẽ bay vào giỏ hàng
            var flyerClone = $(flyer).clone();

            // Thiết lập đối tượng nhân bản này trùng với đối tượng thực tế
            $(flyerClone).css({
                position: 'absolute',
                top: $(flyer).offset().top + 35 + "px",
                left: $(flyer).offset().left + 35 + "px",
                opacity: 1,
                'z-index': 99999,
                width:'150px',
                height:'150px'
            }).appendTo($('body'));

            // Lấy về tọa độ của giỏ hàng
            var gotoX = $(flyingTo).offset().left;
            var gotoY = $(flyingTo).offset().top;

            // Hiệu ứng bay vào giỏ hàng
            $(flyerClone).animate({
                opacity: 0.4,
                left: gotoX,
                top: gotoY,
                width: $(flyingTo).width(),
                height: $(flyingTo).height()
            }, 700,
            function () {
                 $(flyerClone).fadeOut('slow', function () {
                         $(flyerClone).remove();
                  });
            });
        }

        $('.add-to-cart-btn').click(function(){
            var $_this = $(this);
            var itemImg = $(this).closest('.product').find('img').eq(0);
            flyToElement($(itemImg), $('#shopping-cart'));
        });
    </script>
    <!-- <script src="js/jquery-3.4.1.min.js"></script> -->
</body>

</html>
