@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <style>
        .pagination {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
            align-items: center;
        }

    </style>

</head>

<body>

	<div class="container mt-4">
		<div class="card shadow-lg">
			<div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
				<h4 class="mb-0"><b>Giỏ Hàng Của Bạn</b></h4>
                <div class="float-end">
                    <a class="btn btn-success btn-sm" asp-controller="GioHang" asp-action="LichSuMuaHang"><b>Lịch Sử Mua Hàng</b></a>
                    <a class="btn btn-outline-dark btn-warning mt-auto"><b>Làm Trống Giỏ Hàng</b></a>
                </div>
			</div>

			<div class="card-body">

				<!-- Bảng danh sách -->
				<table class="table table-bordered text-center align-middle">
					<thead class="table-secondary">
						<tr>
                            <th>Mã Sản Phẩm</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Số Lượng</th>
                            <th>Giá<br>( in $)</th>
                            <th>Tổng<br>( in $)</th>
							<th width="20%">Thao tác</th>
						</tr>
					</thead>
					<tbody>

						<tr>
                            <td>asus_1050_4gb_ddr5</td>
                            <td>Card Asus GTX 1050 4GB DDR5</td>
							<td>2</td>
							<td>350$</td>
							<td>700$</td>
							<td>
								<a class="btn btn-info btn-sm">Thanh Toán</a>
								<a class="btn btn-danger btn-sm">Xóa</a>
							</td>
						</tr>

					</tbody>
				</table>

			</div>
		</div>
	</div>

</body>

</html>